*{
    padding: 0;
    margin: 0;
}

div#game {
    width: 80%;
    height: 90vh;
    margin: 1rem;
    background: rgb(172, 172, 172);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div#game > div {
    box-sizing: border-box;
    background-color: black;
    margin: 1rem;
    width: 250px;
    height: 250px;
    color: white;  
    position: relative;
    opacity: 100%;
}

div#game > div:hover {
    background-color: red;
    }


div#game > div > div{
   text-align: center;
    padding: 6rem 1rem; 
}

div#game > div:hover > div{
    opacity: 0;
}


div#game > div > span{
    opacity: 0;
    position: absolute;
    padding: 6rem 5rem; 
    top: 5px;
    left:10px;
}

div#game > div > span:hover{
    transition:opacity 2s;
    opacity: 100%;
    color: white;
}